.colorFooterCOP{
    background-color: rgba(0, 0, 0, 0.2);
}
.a_class_not_decoration{
    text-decoration:none;
}
.footerdown{
    position:absolute;
    bottom:0;
    width:100%;
   
}

.mainFooter{
    background: rgb(1,72,114);
    background: linear-gradient(131deg, rgba(1,72,114,1) 0%, rgba(0,48,85,1) 100%, rgba(0,48,85,1) 100%);
    color: white;
    
}

.mb-1 a{
    color: rgb(180, 220, 243);
}

.mb-1 span{
    color: rgb(180, 220, 243);
}

.mb-2 {
    height: 62px;
    margin: 20px;
    margin-left: 40px;
}

small {
    color: rgb(180, 220, 243);
    margin: -10px;
    margin-left: 122px;
   
}