.LogoGhostBit {
    text-decoration: none;
    Color: #fff;
    font-size: 2em;
    padding: 0.5em 0.5em 0.5em;
    transition: all 0.5s;
}

.NavbarDark {
    background-color: #062033c4;
    color: #fff;
}

.styleLinks {
    margin: 10px;
    text-decoration: none;
    color: #fff;
}