.NavbarItems {
  background: #003566a6;
  height: 80px;
  display: flex;
  justify-content: center;
  font-size: 1.1rem;
}

.navbar-logo {
  color: rgb(0, 0, 0);
  justify-self: start;
  margin-left: 20px;
  margin-top: 1.3rem;
  cursor: pointer;
  font-size: 1.8rem;
}

.fa-react {
  margin-left: 0.5rem;
  font-size: 1.6rem;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: end;
  margin-right: 2rem;
  margin-top: 1.2rem;
}

.nav-links {
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: all 0.2s ease-in-out;
}

.nav-links:hover {
  background: #106eea;
  color: rgb(255, 255, 255);
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
  font-size: 1.2rem;
}

.fa-bars {
  color: rgb(0, 0, 0);
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

.spanLogo {
  text-decoration: none;
  color: #000000;
  transition: all 0.3s ease-out;
}

.spanLogo:hover {
  border-radius: 5px;
  color: #00ffff;
  filter: drop-shadow(1px 1px 2px rgb(0, 255, 255));
  transition: all 0.3s ease-out;
}

.spanName {
  color: #000000;
  transition: all 0.3s ease-out;
}

.spanName:hover {
  border-radius: 5px;
  color: #000000;
  filter: drop-shadow(1px 1px 3px rgb(0, 255, 242));
  transition: all 0.3s ease-out;
}

@media screen and (max-width: 960px) {
  .NavbarItems {
    position: relative;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 500px;
    position: absolute;
    top: 60px;
    left: -100%;
    opacity: 1;
    transition: all 0.1s ease;
  }

  .nav-menu.active {
    background: #006eff;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
    height: 540px;
    border-radius: 5px;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 95%;
    margin: 0px 0px 7px 0px;
    display: table;
  }

  .nav-links:hover {
    background-color: #000000;
    border-radius: 5px;
    font-size: 1.5rem;
  }

  .navbar-logo {
    position: absolute;
    top: -15px;
    left: 0;
    transform: translate(25%, 50%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 38%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: #000000;
    font-size: 2rem;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    padding: 1.5rem;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    background: #106eea;
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
  }

  .nav-links-mobile:hover {
    background: #fff;
    color: #6668f4;
    transition: 250ms;
  }

  .Button {
    display: none;
  }
}